<ion-view>
  <ion-content>
    <br/><br/>
    <div class="row">
      <div class="col">
        <div class="imgBox" ng-click="go('cow')">
          <img class="animalsImg" src="../../img/cow.png" alt=""/>
          <p>Cow</p>
        </div>

      <!--  <a href="#/form:0">
          <div class="imgBox" ng-click="go('cow')"><img class="animalsImg" src="../../img/cow.png" alt=""/></div>
        </a>
      -->
      </div>
      <div class="col">
        <div class="imgBox" ng-click="go('goat')">
          <img class="animalsImg" src="../../img/goat.png" alt=""/>
          <p>Goat</p>
        </div>

<!--
        <a href="#/form:1">
          <div class="imgBox" ng-click="go('goat')"><img class="animalsImg" src="../../img/goat.png" alt=""/></div>
        </a>
-->
      </div>
    </div>

  </ion-content>
</ion-view>
